.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.darkmode {
  display: flex;
}

.darkmode h4 {
  margin-right: 16px;
}

.navbar .darkmode:hover {
  cursor: pointer;
}
